{{ $recentArticles := 5 }}
{{ $showMoreLinkDest := "/posts/" }}
{{ if index .Site.Params.homepage "showRecentItems" }}
	{{ $recentArticles = .Site.Params.homepage.showRecentItems }}
{{ end }}


<style>
	#switch-layout-button span,
	#switch-config-button span {
		user-select: text;
		-webkit-user-select: text;
	}
</style>

<h2 class="font-extrabold mb-10 mt-8 text-2xl">{{ i18n "shortcode.recent_articles" | emojify }}</h2>
<button
	class="flex w-full bg-primary-300 hover:bg-primary-200 dark:bg-primary-900 dark:hover:bg-primary-800 mb-6 mb-8 px-4 py-2 rounded-md text-base text-left items-center justify-between"
	id="switch-config-button">
	<span class="dark:prose-invert prose text-neutral-800 dark:text-neutral-300">
		This is a demo of the theme’s recent articles configuration:
		<code id="config" onclick="event.stopPropagation()">card view</code>
	</span>
</button>

<div class="h-full" id="homepageArticleCard">{{ partial "home-templates/recent-articles/card.html" . }}</div>

<div class="h-full hidden" id="homepageArticleList">
	{{ partial "home-templates/recent-articles/list.html" . }}
</div>

{{ if .Site.Params.homepage.showMoreLink | default false }}
	{{ if index .Site.Params.homepage "showRecentItems" }}
		{{ $showMoreLinkDest = .Site.Params.homepage.showMoreLinkDest }}
	{{ end }}
	<div class="flex justify-center mt-10">
		<a href="{{ $showMoreLinkDest }}"
			><button
				class="px-4 py-2 bg-transparent border border-primary-500 dark:prose-invert font-semibold hover:text-primary-500 prose rounded">
				{{ i18n "recent.show_more" | markdownify }}
			</button>
		</a>
	</div>
{{ end }}
