{{/* Load uncached code in this file. For example, CDN resource only used if a shortcode exists */}}

{{/* Load LXGW font */}}
{{/* <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
	<link
	rel="preload"
	href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-web@latest/lxgwwenkaitc-regular/result.css"
	as="style"
	crossorigin="anonymous">
	<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-web@latest/lxgwwenkaitc-regular/result.css"
	media="print"
	onload="this.media='all'"
	crossorigin="anonymous"
	referrerpolicy="no-referrer">
	<noscript>
	<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-web@latest/lxgwwenkaitc-regular/result.css"
	crossorigin="anonymous"
	referrerpolicy="no-referrer">
	</noscript>
*/}}
