.admonition {
	padding: 0.7rem 1rem;
	margin: 1.5rem 0;
	border-radius: 0.375rem;
	border-left-width: 5px;
	border-left-style: solid;
	overflow: hidden;
	color: #1f2937;
}

.dark .admonition {
	color: #f3f4f6;
}

.admonition-heading {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.admonition-title {
	font-size: 1.25rem;
	font-weight: 600;
	white-space: nowrap;
}

.admonition-icon {
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
}

.admonition-icon svg {
	fill: currentColor;
	width: 30px;
	height: 30px;
}

.admonition-content {
	line-height: 1.6;
}

.admonition-note {
	background-color: #fdfdfe;
	border-left-color: #d3d5d8;
}

.admonition-note .admonition-heading {
	color: #474748;
}

.admonition-info {
	background-color: #eef9fd;
	border-left-color: #4db3d4;
}

.admonition-info .admonition-heading {
	color: #193c47;
}

.admonition-tip {
	background-color: #e6f6e6;
	border-left-color: #009400;
}

.admonition-tip .admonition-heading {
	color: #003100;
}

.admonition-warning {
	background-color: #fff8e6;
	border-left-color: #e6a701;
}

.admonition-warning .admonition-heading {
	color: #4d3800;
}

.admonition-danger {
	background-color: #ffebec;
	border-left-color: #e13239;
}

.admonition-danger .admonition-heading {
	color: #4b1114;
}

.dark .admonition-note {
	background-color: #474748;
	border-left-color: #d3d5d8;
}

.dark .admonition-note .admonition-heading {
	color: #fdfdfe;
}

.dark .admonition-info {
	background-color: #193c47;
	border-left-color: #4db3d4;
}

.dark .admonition-info .admonition-heading {
	color: #eef9fd;
}

.dark .admonition-tip {
	background-color: #003100;
	border-left-color: #009400;
}

.dark .admonition-tip .admonition-heading {
	color: #e6f6e6;
}

.dark .admonition-warning {
	background-color: #4d3800;
	border-left-color: #e6a701;
}

.dark .admonition-warning .admonition-heading {
	color: #fff8e6;
}

.dark .admonition-danger {
	background-color: #4b1114;
	border-left-color: #e13239;
}

.dark .admonition-danger .admonition-heading {
	color: #ffebec;
}
