{{ define "header/header-option-dropdown.html" }}
	<div>
		<div class="cursor-pointer flex items-center nested-menu">
			{{ if .Pre }}
				<span {{ if and .Pre .Name }}class="mr-1"{{ end }}>
					{{ partial "ui/icon.html" .Pre }}
				</span>
			{{ end }}
			{{- $isExternal := partial "functions/is-external.html" .URL -}}
			<a
				{{ if .URL }}
					href="{{ .URL }}"
					{{ if $isExternal }}
						target="_blank"
					{{ end }}
				{{ end }}
				class="text-base font-medium text-neutral-900 dark:text-neutral-100 hover:text-primary-600 dark:hover:text-primary-400"
				style="display:inline-flex; align-items:center; gap:0.2em;"
				title="{{ .Title }}">
				{{ .Name | markdownify }}
				{{ if and $isExternal site.Params.externalLinkIcon (not .Pre) }}
					{{- $svg := site.Store.Get "externalLinkSVG" -}}
					{{- $svg -}}
				{{ end }}
			</a>
			<span>
				{{ partial "ui/icon.html" (dict "icon" "chevron-down") }}
			</span>
		</div>
		<div class="absolute menuhide">
			<div class="pt-2 p-5 mt-2 rounded-xl bg-neutral-50/90 dark:bg-neutral-800/90 shadow-2xl">
				<div class="flex flex-col space-y-3">
					{{ range .Children }}
						{{- $url := .URL -}}
						{{- $isExternal := partial "functions/is-external.html" $url -}}
						<a
							href="{{ .URL }}"
							{{ if $isExternal }}
								target="_blank"
							{{ end }}
							class="flex items-center text-neutral-900 dark:text-neutral-100 hover:text-primary-600 dark:hover:text-primary-400"
							style="display:inline-flex; align-items:center; gap:0.2em;">
							{{ if .Pre }}
								<span {{ if and .Pre .Name }}class="mr-1"{{ end }}>
									{{ partial "ui/icon.html" .Pre }}
								</span>
							{{ end }}
							<p class="text-sm font-sm" title="{{ .Title }}">
								{{ .Name | markdownify }}
							</p>
							{{ if and $isExternal site.Params.externalLinkIcon (not .Pre) }}
								{{- $svg := site.Store.Get "externalLinkSVG" -}}
								{{- $svg -}}
							{{ end }}
						</a>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "header/header-option-simple.html" }}
	{{- $isExternal := partial "functions/is-external.html" .URL -}}
	<a
		href="{{ .URL }}"
		{{ if $isExternal }}target="_blank"{{ end }}
		class="flex items-center text-neutral-900 dark:text-neutral-100 hover:text-primary-600 dark:hover:text-primary-400"
		style="display:inline-flex; align-items:center; gap:0.2em;">
		{{ if .Pre }}
			<span {{ if and .Pre .Name }}class="mr-1"{{ end }}>
				{{ partial "ui/icon.html" (dict "icon" .Pre) }}
			</span>
		{{ end }}
		<p class="text-base font-medium" title="{{ .Title }}">
			{{ .Name | markdownify }}
		</p>
		{{ if and $isExternal site.Params.externalLinkIcon (not .Pre) }}
			{{- $svg := site.Store.Get "externalLinkSVG" -}}
			{{- $svg -}}
		{{ end }}
	</a>
{{ end }}

{{ if .HasChildren }}
	{{ template "header/header-option-dropdown.html" . }}
{{ else }}
	{{ template "header/header-option-simple.html" . }}
{{ end }}
