{{- $copy := site.Params.enableCodeCopy }}
{{- $file := or .Attributes.file "" }}
{{- $ext := strings.TrimPrefix "." (path.Ext $file) }}
{{- $lang := or .Type $ext "text" }}
<div class="render-hook-codeblock not-prose rounded-lg mt-4 mb-8 overflow-hidden">
	{{- with $file }}
		<div class="text-sm px-3 py-2 bg-neutral-200 dark:bg-neutral-700">
			{{ . }}
		</div>
	{{- end }}
	<div class="highlight-wrapper">
		{{- if $copy }}
			<button class="copy-button" type="button" aria-label="Copy">
				<svg aria-hidden="true" viewBox="0 0 24 24" class="copy-icon">
					<path
						fill="currentColor"
						d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
				</svg>
				<svg viewBox="0 0 24 24" class="check-icon">
					<path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
				</svg>
			</button>
		{{- end }}
		{{- transform.Highlight (strings.TrimSpace .Inner) $lang .Options -}}
	</div>
</div>
